  <h1 class="">The Budget App</h1>
  <div class="">
    <button class=''>
      <%= link_to "LOG IN", new_user_session_path%>
    </button>
    <button class=''>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </button>
  </div>